@import "@porto/apps/styles.css";

@custom-variant dark (&:is(.scheme-light-dark *));

html,
:host {
  background-color: var(--background-color-primary);
}

[data-dialog] {
  --height-button: 40px;
  --radius-default: 8px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  @apply appearance-none;
}

input[type="number"] {
  appearance: textfield;
}

@layer utilities {
  .text-md {
    font-size: 16px;
    line-height: 1.25rem;
  }

  .size-full {
    @apply h-full w-full;
  }
}
