* text=auto
.gitattributes !filter !diff

.dev.vars linguist-language=Dotenv
.env.example linguist-language=Dotenv
.dev.vars.example linguist-language=Dotenv
.vscode/*.json linguist-language=JSON-with-Comments
