@import "tailwindcss" important;
@import "../app/src/theme.css";

@custom-variant dark (&:where(.dark, .dark *));

.vocs_Navigation,
.vocs_NavigationMenu_list {
  align-items: center;
}

/***
 *** `/demo` sytles
 ***/

button,
input {
  cursor: default;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@theme {
  --animate-fade-pulse: fade-pulse 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  @keyframes fade-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-spin-slow: spin 3s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --animate-rotation: rotation 1.2s linear infinite;
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  --font-rk-sans:
    SFRounded, ui-rounded, "SF Pro Rounded", -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
